<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    return (logger.startsWith("br.com.cwi.treinamento.it"));
                </expression>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>